django
gunicorn
django-heroku
requests-html
arcgis
#pandas
numpy
matplotlib
#cartopy
#watermark
#pprint
mpld3
scipy
dj-database-url
python-dotenv
scikit-learn
numdifftools
#lmfit
statsmodels
#numba
memory_profiler
line_profiler
prediksicovidjatim @ git+https://github.com/R-N/prediksicovidjatim-core.git#egg=prediksicovidjatim
lmfit @ git+https://github.com/R-N/lmfit-py.git#egg=lmfit